<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TargetPathImage" value="C:\Users\Public\Pictures"/>
    <add key="TargetPathVideo" value="C:\Users\Public\Videos"/>
    <add key="ExtensionImage" value="jpg|cr2"/>
    <add key="ExtensionImageRaw" value="cr2"/>
    <add key="ExtensionVideo" value="avi|mp4"/>
  </appSettings>
</configuration>